.About p {
  text-align: center;
  margin-left: 20%;
  margin-right: 20%;
}

.About .skills li {
  padding: 1px 4px 1px 4px;
  border-radius: 4px;
  margin: 5px 5px 5px 5px;
  color: gray;
}

.About .skills .blue {
  background-color: paleturquoise;
}

.About .skills .pink {
  background-color: rgb(238, 175, 221);
}

.About .skills .yellow {
  background-color: rgb(238, 235, 175);
}

.About .skills .green {
  background-color: rgb(175, 238, 186);
}
