* {
  background-color: #eee;
}

h1 {
  text-align: center;
}

h3 {
  text-align: center;
}

.compliment {
  text-align: center;
  margin-top: 30%;
}

.parallax {
  /* The image used */
  background-image: url("https://source.unsplash.com/random?nature");

  /* Set a specific height */
  min-height: 764px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  /* text */
  text-align: center;
  color: white;
  font-family: "Times New Roman", Times, serif;
  font-size: 50px;
  height: 700px;
  line-height: 700px;
}

/* .div {
  background-color: #ccc;
} */

.text {
  text-align: center;
}

.about-me {
  margin-top: 35px;
  font-family: "Times New Roman", Times, serif;
}
