* {
  text-align: center;
  font-family: "Work Sans", sans-serif;
}

.Home h3 {
  margin-bottom: 0;
}

li {
  display: inline;
  list-style: none;
  margin-right: 30px;
}

/*
.star_left {
  position: fixed;
  height: 200px;
  width: auto;
  left: 15px;
}

.star_right {
  position: fixed;
  height: 200px;
  width: auto;
  right: 15px;
}

@media screen and (min-width: 1000px) {
  .star_left,
  .star_right {
    width: 100px;
    height: auto;
  }
}
*/

/* 
.img {
  text-align: center;
}

.the-img {
  height: 400px;
  width: auto;
  border-radius: 50%;
} */

/*
.parallax {
  background-image: url("https://source.unsplash.com/random?nature");

  min-height: 764px;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  text-align: center;
  color: white;
  font-family: "Times New Roman", Times, serif;
  font-size: 50px;
  height: 700px;
  line-height: 700px;
}
*/ ;
