.Footer {
  width: 100%;
  margin-top: 50px;
}

.Footer a {
  text-decoration: none;
  color: black;
  transition: 0.3s;
}

.Footer a:hover {
  color: gray;
  opacity: 0.8;
}

.iconlol {
  color: gray;
}
