.a ul {
  overflow: hidden;
}

.a li {
  display: inline;
  list-style: none;
  margin-right: 20px;
  margin-left: 20px;
}

.aoc {
  color: black;
  text-decoration: none;
  transition: 0.5s;
}

.aoc:hover {
  color: gray;
}

nav {
  text-align: center;
  margin-bottom: 50px;
}

.margin {
  margin-top: 10px;
}

.a h1 {
  margin-bottom: 30px;
}

@media (max-width: 400px) {
  .a li {
    margin-right: 5px;
    margin-left: 5px;
  }
}
