.star_left {
  position: fixed;
  height: 200px;
  width: auto;
  left: 15px;
}

.star_right {
  position: fixed;
  height: 200px;
  width: auto;
  right: 15px;
}

ul {
  overflow: hidden;
}

li {
  display: inline;
  list-style: none;
  margin-right: 20px;
  margin-left: 20px;
}

.aoc {
  color: black;
  text-decoration: none;
  transition: 0.5s;
}

.aoc:hover {
  color: gray;
}

nav {
  text-align: center;
}

.margin {
  margin-top: 10px;
}
